@font-face {
    font-family: RV;
    src: url(VarelaRound-Regular.ttf);
 }
body{
    background-color: #403D39;
    color: #FFFCF2;
    font-family: RV;
    margin: 1;
}
#header{
    width: 100%;
    height: 15%;
    background-color: #252422;
    margin: 0;
    border-bottom: 1px solid #EB5E28;
}
h1{
    text-align: center;
}
#logosb{
    float: left;
    margin-left: 18.5%;
    height: 146px;
}
#logo{
    float: left;
    margin-left: 37.5%;
    height: 146px;
}
#szukaj{
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 3%;
    background-color: #d1d1d1;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
    margin-top: 3%;
}
.log{
    margin-right: 3%;
    margin-top: 3%;
    float: right;
}
#main{
    clear: both;
    width: 100%;
}
#footer{
    width: 99.9%;
    height: 5%;
    position:absolute;
    clear: both;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #EB5E28;
    background-color: #252422;
}
.img{
    height: 250px;
}
.movie{
    float: left;
    height: 330px;
    text-align: center;
    padding-right: 1%;
    width: 10%;
}
a{
    text-decoration: none;
    color: inherit;
}
#prev{
    float: left;
    width: 25%;
    margin: 1%;
}
#desc{
    float: left;
    width: 35%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.com{
    clear: both;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}
#comt{
    clear: both;
    text-align: center;
    width: 50%;
    font-size: large;
}
.obr{
    clear: both;
    width: 400px;
    border: 2px solid #CCC5B9;
    border-radius: 5px;
}
#pom{
    width: 100%;
    height: 77.6%;
}
#cofnij{
    margin-left: 0%;
    width: 5%;
    height: 5%;
    text-align: center;
}
#wypozycz{
    float:left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 35%;
}
#pom1{
    width: 100%;
    height: 79.8%; 
}
#pic{
    width: 300px;
}
#strz{
    width: 50px;
    background-color: none;
}
#but{
    background-color: #403D39;
    border: 0;  
}
#oc{
    clear: both;
}
.gw{
    width: 25px;
}
#gw1{
    width: 27px;
    height: 25px;
}
#form{
    margin: auto;
    text-align: center;
}
#logg{
    width: 100%;
}
#opinia{
    background-color: #d1d1d1;
}